.fixed-spinner-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
}

.fixed-spinner {
    --spinner-w: 5rem;
    --spinner-h: 5rem;
    position: relative;
    left: calc(50% - var(--spinner-w));
    top: calc(50% - var(--spinner-h));

    width: var(--spinner-w);
    height: var(--spinner-h);
}

.appointments-list {
    list-style: none;

    border: 0.125em solid black;
    border-radius: 2em;

    background-color: #f3f3f3;

    padding: 1em;
}


.appointments-list > li:not(:last-child) {
    margin-bottom: 2em;
}