.fixed-spinner-wrapper {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-spinner {
    --bs-spinner-width: 5rem;
    --bs-spinner-height: 5rem;
    --bs-spinner-border-width: 0.5rem;
}

.appointment-sort {
	margin: 1em auto;
}

.appointment-sort > :not(:last-child) {
    margin-right: 1em;
}

.appointment-sort-select {
	border: 0.25em solid lightblue;
	border-radius: 0.5em;
	background: white;
	padding: 0.5em;
}

.appointments-list {
    list-style: none;

    border: 0.125em solid black;
    border-radius: 2em;

    background-color: #f3f3f3;

    padding: 1em;
}


.appointments-list > li:not(:last-child) {
    margin-bottom: 2em;
}