.appointment-detail {
    border: 0.125em solid rebeccapurple;
    border-radius: 2em;

    padding: 1em;
}

.appointment-detail-body {
	display: flex;
	justify-content: space-between;
}

.appointment-member-detail {
    border: 0.125em solid var(--member-border-color);
    border-radius: 2em;

    background-color: var(--member-bg-color);

    padding: 1em;
}

.appointment-member-detail svg {
    margin-right: 0.5em;
}

.user-detail {
    --member-border-color: darkblue;
    --member-bg-color: lightcyan;
}

.animal-detail {
    --member-border-color: forestgreen;
    --member-bg-color: palegreen;
}