.fixed-spinner-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-spinner {
    --bs-spinner-width: 5rem;
    --bs-spinner-height: 5rem;
    --bs-spinner-border-width: 0.5rem;
}

.appointments-list {
    list-style: none;

    border: 0.125em solid black;
    border-radius: 2em;

    background-color: #f3f3f3;

    padding: 1em;
}


.appointments-list > li:not(:last-child) {
    margin-bottom: 2em;
}